<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Arrest Details Count</div>
              <div class="stat-digit">{{ arrestCount }}</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-success w-100"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Case Details Count</div>
              <div class="stat-digit">{{ caseCount }}</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-primary w-100"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Closed Case Count</div>
              <div class="stat-digit">{{ closedCaseCount }}</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-danger w-100"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <!-- /# card -->
      </div>
      <!-- /# column -->
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Timeline</h4>
          </div>
          <div class="card-body">
            <div class="widget-timeline">
              <div style="display: block">
                <canvas
                  baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Case History</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>NIC</th>
                    <th>Place</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let arrest of arrestData; let i = index">
                    <td>
                      <div class="round-img">
                        <a href=""
                          ><img
                            width="35"
                            src="../../../assets/images/avatar/1.png"
                            alt=""
                        /></a>
                      </div>
                    </td>
                    <td>{{ arrest.firstName }} {{ arrest.lastName }}</td>
                    <td>
                      <span>{{ arrest.nic }}</span>
                    </td>
                    <td>
                      <span>{{ arrest.place }}</span>
                    </td>
                    <td>
                      <span
                        class="badge badge-success"
                        *ngIf="arrest.status == 1"
                      >
                        Arrest
                      </span>
                      <span
                        class="badge badge-warning"
                        *ngIf="arrest.status == 2"
                      >
                        Case
                      </span>
                      <span
                        class="badge badge-danger"
                        *ngIf="arrest.status == 3"
                      >
                        Closed
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
