<div class="content-body" *ngIf="userRole != 'VIEWER'">
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Arrest Details Count</div>
              <div class="stat-digit">{{ arrestCount }}</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-success w-100"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Case Details Count</div>
              <div class="stat-digit">{{ caseCount }}</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-primary w-100"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Closed Case Count</div>
              <div class="stat-digit">{{ closedCaseCount }}</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-danger w-100"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <!-- /# card -->
      </div>
      <!-- /# column -->
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Timeline</h4>
          </div>
          <div class="card-body">
            <div class="widget-timeline">
              <div style="display: block">
                <canvas
                  baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Case History</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>NIC</th>
                    <th>Place</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let arrest of arrestData; let i = index">
                    <td>
                      <div class="round-img">
                        <a href=""
                          ><img
                            width="35"
                            src="../../../assets/images/avatar/1.png"
                            alt=""
                        /></a>
                      </div>
                    </td>
                    <td>{{ arrest.firstName }} {{ arrest.lastName }}</td>
                    <td>
                      <span>{{ arrest.nic }}</span>
                    </td>
                    <td>
                      <span>{{ arrest.place }}</span>
                    </td>
                    <td>
                      <span
                        class="badge badge-success"
                        *ngIf="arrest.status == 1"
                      >
                        Arrest
                      </span>
                      <span
                        class="badge badge-warning"
                        *ngIf="arrest.status == 2"
                      >
                        Case
                      </span>
                      <span
                        class="badge badge-danger"
                        *ngIf="arrest.status == 3"
                      >
                        Closed
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-body" *ngIf="userRole == 'VIEWER'">
  <!-- row -->
  <div class="container">
    <div class="text">
      <h1>Welcome to E - Court System.</h1>
      <p>
        In any civilized society people are expected to solve issues that arise
        among them through the court system. However, due to the very high
        number of cases referred for adjudication the number of cases that can
        be solved are very less, and as elsewhere mentioned in this report the
        backlog amounts to about 800,000 cases in 2020. Furthermore, it takes
        about ten years for a case to reach an end. Though there are different
        strategies that utilized in Sri Lanka with the intention of speeding the
        court process, none of them have proven successful. In such a backdrop
        the utilization of technology has proven successful in many other
        countries.
      </p>
      <p>
        The Information Technology can be utilized to minimize delays and remedy
        most of the short comings of a traditional legal system. A system that
        interconnects from court staff to all other stakeholders will not only
        speed up the process but also achieve many other positive changes to the
        system.
      </p>
      <p>
        In this section of the report the details about the problem domain will
        be discussed with the technological implementations in other countries.
      </p>
    </div>
    <div class="image">
      <img
        src="https://srilankamirror.com/media/k2/items/cache/4792f873a678aadec28e08a0ed3b397a_XL.jpg"
        alt="Coding Illsturation"
      />
    </div>
  </div>
</div>
