<div class="quixnav">
  <div class="quixnav-scroll">
    <ul class="metismenu" id="menu">
      <li class="nav-label first">Main Menu</li>
      <li routerLink="/main/dashboard" routerLinkActive="mm-active">
        <a>
          <i class="icon icon-single-04"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-label">Details</li>
      <li routerLink="/main/arrestDetails" routerLinkActive="mm-active">
        <a>
          <i class="icon icon-app-store"></i>
          <span class="nav-text">Arrest Details</span>
        </a>
      </li>
      <li routerLink="/main/caseDetails" routerLinkActive="mm-active">
        <a>
          <i class="icon icon-chart-bar-33"></i>
          <span class="nav-text">Case Details</span>
        </a>
      </li>
      <li routerLink="/main/closedDetails" routerLinkActive="mm-active">
        <a>
          <i class="fa fa-times" aria-hidden="true"></i>
          <span class="nav-text">Closed Details</span>
        </a>
      </li>
      <li
        routerLink="/main/notificationsDetails"
        routerLinkActive="mm-active"
        *ngIf="
          userRole === 'ATTORNEY' ||
          userRole === 'POLICE' ||
          userRole === 'JUDICIAL' ||
          userRole === 'ADMIN'
        "
      >
        <a>
          <i class="fa fa-comments"></i>
          <span class="nav-text">Notifications</span>
        </a>
      </li>
      <li
        routerLink="/main/viewersRegistration"
        routerLinkActive="mm-active"
        *ngIf="userRole === 'ADMIN'"
      >
        <a>
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="nav-text">Viewers Registration</span>
        </a>
      </li>
    </ul>
  </div>
</div>
