<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="d-flex flex-row-reverse mb-3">
      <!-- <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add New Case
        Data</button> -->
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Case Details List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>NIC</th>
                    <th>Place</th>
                    <th>Reason</th>
                    <th>Remark</th>
                    <th>Officer</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let arrest of arrestData; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ arrest.firstName }} {{ arrest.lastName }}</td>
                    <td>
                      <span>{{ arrest.nic }}</span>
                    </td>
                    <td>
                      <span>{{ arrest.place }}</span>
                    </td>
                    <td>
                      <span>{{ arrest.reason }}</span>
                    </td>
                    <td>
                      <span>{{ arrest.remark }}</span>
                    </td>
                    <td>
                      <span>{{ arrest.officer }}</span>
                    </td>
                    <td>
                      <span>{{ arrest.createdDate | date }}</span>
                    </td>
                    <td><span class="badge badge-success">Active</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
